Package: $(PACKAGE_NAME)
Version: $(shell scripts/git-semver)
Priority: optional
Architecture: amd64
Depends: libc6, libpam0g
Maintainer: Sean Williams <sean@xeed.io>
Description: A set of PAM and NSS modules to manage remote users over HTTPS with mTLS.
